.readmoreRed1 {
  color: #483773;
  font-weight: bolder;
  display: inline-block;
  text-decoration: none !important;
  font-size: 14px;
  font-family: Roboto;
}

.readmoreRed1:hover {
  color: white;
  font-weight: 200;
}

.heading32 {
  color: #028074;
  font-family: roboto;
  font-weight: 400;
}
.heading24 {
  color: #fff;
  font-family: roboto;

  font-weight: 400;
}

.ree{
  gap:38px;
}

@media only screen and (max-width: 1025px) {
   .ree{
  gap:156px;
}
}

@media only screen and (max-width: 769px){
  .valueSection .item img {
    width: 100%;
  }
 

  .xxx{
    max-width:100% !important;
  }
  .rightValuetxt{
            background: url(../images/mobile-image/company-value-bg.jpg) no-repeat;
            padding:20px;
            margin: 8px;
  }
}

